html{
    font-size: 62.5%;
   
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem;
    background-color:white;
   
}
#title h1{
    font-size: 3rem;
    color: #cbcecf;
    letter-spacing: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;


}

#container{
    background-color: #cccccc;
}
#container ul{
      display: flex;
      flex-direction: row;
      padding: 2rem;
      gap: 4rem;
      font-size: 1.2rem;
}
#container ul a{
    text-decoration: none;
    color: black;
    font-family: fangsong;
    font-weight: bold;

}

#placeholder{
    margin-inline-start: 1.5rem;
    border: 1.3rem solid white;
}
#description{
    padding-inline-start: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: fangsong;
    color: #797776;
    padding: 2rem;

}

    




